In [18]:
for i in Product.objects.all():
    print(i.name,i.category,i.price,i.image)

ลำใย M 12.00 0213967000000_SI59YGj.jpg
มะม่วง V 90.00 b_Rvk7tq2.jpg
แตงโม V 50.00 product001_etL3Mm7.jpg
product_y M 12.00

In [13]:
for i in Product.objects.filter(category='V'):
    print(i.name,i.category,i.price,i.image)

มะม่วง V 90.00 b_Rvk7tq2.jpg
แตงโม V 50.00 product001_etL3Mm7.jpg

In [20]:
x = Product.objects.get(pk=1)
print(type(x))
print(x.pk,x)

<class 'myapp.models.Product'>
1 ลำใย

In [22]:
x = Product.objects.all()
print(type(x))
print(x.query)
for i in x:
    print(i)

<class 'django.db.models.query.QuerySet'>
SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product"
ลำใย
มะม่วง
แตงโม
product_y

In [24]:
x = Product.objects.filter(category='V')
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."category" = V

In [26]:
for p in Product.objects.raw('SELECT * FROM myapp_product'):
    print(p)

ลำใย
มะม่วง
แตงโม
product_y

In [16]:
y = Product(name='product_y',price=12)

In [27]:
x = Product.objects.filter(price=12)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" = 12

In [28]:
x = Product.objects.filter(price__lt=12)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" < 12

In [29]:
x = Product.objects.filter(price__lte=12)
print(x.query)

SELECT "myapp_product"."id", "myapp_product"."name", "myapp_product"."price", "myapp_product"."category", "myapp_product"."image" FROM "myapp_product" WHERE "myapp_product"."price" <= 12

In [17]:
y.save()

In [3]:
from import_export import resources
class ProductResource(resources.ModelResource):
    class Meta:
        model = Product

In [4]:
product_resource = ProductResource()
dataset = product_resource.export()

In [5]:
with open('myexcel.xls', 'wb') as f:
    f.write(dataset.xls)

In [6]:
%%sh
ls

db.sqlite3
manage.py
media
myapp
myexcel.xls
myproject
static
templates
Untitled.ipynb
Week05 Basic query.ipynb